name: Publish

on:
  workflow_dispatch:
  push:
    branches:
      - 'main'
  workflow_run:
    workflows: ['Update']
    types:
      - completed
    branches:
      - 'main'

permissions:
  contents: read

jobs:
  npm-packages:
    name: NPM Packages
    runs-on: ubuntu-latest
    if: ${{ github.event_name != 'workflow_run' || github.event.workflow_run.conclusion == 'success' }}
    permissions:
      id-token: write
      contents: write
      pull-requests: write
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0
          filter: tree:0
      - name: Setup toolchains
        uses: jdx/mise-action@146a28175021df8ca24f8ee1828cc2a60f980bd5 # v3.5.1
      - name: Setup Aikido Safe Chain
        run: curl -fsSL https://github.com/AikidoSec/safe-chain/releases/latest/download/install-safe-chain.sh | sh -s -- --ci
      - name: Install dependencies
        run: pnpm install
      - name: Update npm
        run: npm install -g npm@latest
      - name: Publish to npm
        uses: changesets/action@e0145edc7d9d8679003495b11f87bd8ef63c0cba # v1.5.3
        with:
          commit: 'chore(release): release packages'
          title: 'Release packages'
          publish: pnpm release
          commitMode: 'github-api'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NX_KEY: ${{ secrets.NX_KEY }}
          AWS_ENDPOINT_URL: ${{ secrets.AWS_ENDPOINT_URL }}
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          SAFE_CHAIN_MINIMUM_PACKAGE_AGE_HOURS: 1
